.faulty-terminal-container {
  width: 100%;
  height: 100%;
  position: absolute; /* Ubah ke absolute agar menjadi background */
  top: 0;
  left: 0;
  z-index: -1; /* Supaya berada di belakang teks */
  overflow: hidden;
}